<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>accueil</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AccueilServlet</display-name>
    <servlet-name>AccueilServlet</servlet-name>
    <servlet-class>evtp.web.servlets.AccueilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilServlet</servlet-name>
    <url-pattern>/AccueilServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChantiersServlet</display-name>
    <servlet-name>ChantiersServlet</servlet-name>
    <servlet-class>evtp.web.servlets.ChantiersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChantiersServlet</servlet-name>
    <url-pattern>/ChantiersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>evtp.web.servlets.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GaleriePhotosServlet</display-name>
    <servlet-name>GaleriePhotosServlet</servlet-name>
    <servlet-class>evtp.web.servlets.GaleriePhotosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GaleriePhotosServlet</servlet-name>
    <url-pattern>/GaleriePhotosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MetierServlet</display-name>
    <servlet-name>MetierServlet</servlet-name>
    <servlet-class>evtp.web.servlets.MetierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MetierServlet</servlet-name>
    <url-pattern>/MetierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SitesServlet</display-name>
    <servlet-name>SitesServlet</servlet-name>
    <servlet-class>evtp.web.servlets.SitesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SitesServlet</servlet-name>
    <url-pattern>/SitesServlet</url-pattern>
  </servlet-mapping>
</web-app>